{% extends "base.html" %}

{% block content %}
    
<img class="flex-child-1" src="/static/img/owner.jpg" alt="image of a dog and their owner" width=500px>
<div class = "flex-child-2">
<section class="choose-vet">Add a new pet</section>

<form class="option" action="/pets/new" method="POST">

    <label class="option" for="name"></label>
    <input type="text" id="name" name="name" placeholder="Name" required>

    <label for="dob"></label>
    <input type="text" id="dob" name="dob" placeholder="Date of Birth" required>

    <label for="type"></label>
    <input type="text" id="type" name="type" placeholder="Species" required>

    <label for="treatment_notes"></label>
    <input type="text" id="treatment_notes" name="treatment_notes" placeholder="Treatment Notes" required>

    <!-- <label for="owner_id"></label>
    <input type="text" id="owner_id" name="owner_id" placeholder="Owner" required> -->
<div class="dropdown">
    <label for="owner_id"></label>
    <select name="owner_id" id="owner_id" placeholder="Owner">
        {% for owner in owners: %}
        {% if loop.first %}
        <option value="" disabled selected>Select Owner</option>
      {% endif %}
        <option value="{{ owner.id }}">{{ owner.name }}</option>
        {% endfor %}
    </select>
</div>
    <div class="dropdown">
    <label for="vet_id"></label>
    <select name="vet_id" id="vet_id" placeholder="Vet">
        {% for vet in vets: %}
        {% if loop.first %}
        <option value="" disabled selected>Assign Vet</option>
      {% endif %}
        <option value="{{ vet.id }}">{{ vet.name }}</option>
        {% endfor %}
    </select>
</div>
    <button class="post-button" type="submit">Add</button>

</form>
</div>

{% endblock %}
