{% extends "base.html" %}

{% block content  %}

<img class="flex-child-1" src="/static/img/cat.jpg" alt="image of a cat" width=500px>
<div class = "flex-child-2">
<section class="choose-vet">{{ pets.name }}</section>
<section id="vets">

    <section class="options"> Species: {{ pets.type }} </section>
    <section class="options"> Date of Birth: {{ pets.dob }} </section>
    <a href="/owners/{{pets.owner_id.id}}"><section class="options"> Owned by: {{ pets.owner_id.name }} </section></a>
    <a href="/vets/{{pets.vet_id.id}}"> <section class="options"> Cared for by: {{ pets.vet_id.name }} </section></a>
    <section class="options"> Treatment Notes: {{ pets.treatment_notes }} </section>

<form action="/pets/{{ pets.id }}/delete" method="POST">
 <input type="submit" value="Remove from care" class="post-button">  


{% endblock  %}

