{% extends "base.html" %}

{% block content %}
    
<img class="flex-child-1" src="/static/img/cat.jpg" alt="image of a cat" width=500px>
<div class = "flex-child-2">
<section class="choose-vet">Edit: {{vet.name}}</section>

<form class="option" action="/vets/{{vet.id}}" method="POST">

    <label class="option" for="name"></label>
    <input type="text" id="name" name="name" placeholder="{{vet.name}}">

    <label for="email"></label>
    <input type="text" id="email" name="email" placeholder="{{vet.email}}">

    <label for="phone"></label>
    <input type="text" id="phone" name="phone" placeholder="{{vet.phone}}">

    <button class="post-button" type="submit">Update</button>

</form>
</div>

{% endblock %}
