{% extends "base.html" %}

{% block content  %}

<img class="flex-child-1" src="/static/img/cat.jpg" alt="image of a cat" width=500px>
<div class = "flex-child-2">
<section class="choose-vet">Dr {{ vets.name }}</section>
<section id="vets">
<section class="options"> Phone: {{ vets.phone }} </section>
<a href="mailto:{{vets.email}}"><section class="options options-link"> {{ vets.email }} </section></a>

<a href="/vets/{{vets.id}}/pets"><section class="options options-link"> View animals cared for </section></a>

<form action="/vets/{{ vets.id }}/delete" method="POST">
    <input type="submit" value="Delete" class="post-button">

{% endblock  %}
