html, body {
    height: 100%;
}

body {
    background: #DAEAF1;
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    color: white;
}


form button {
    display: block;
}

form input,
form textarea {
    display: block;
    background: #EAC7C7;
    border-style: none;
    padding: 15px;
    margin: 10px ;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
} 

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    display: block;
    background: #EAC7C7;
    background-color: #EAC7C7;
    border-style: none;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px ;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    width: auto;
} 


#title_bar {
    background: #C6DCE4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    color: #638c9e;
    font-size: 24px;
}

#nav_menu {
    display: flex;
    justify-content: space-between;
    color: #638c9e;
}

#nav_menu a {
    text-decoration: none;
    color: #638c9e;
}

li {
    list-style: none;
    padding: 0 15px;
    text-decoration: none;   
}

.flex-container {
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    /* margin-top: 10px; */
}

.flex-child-1 {
    flex: 1;
    margin-left: 5%;
    min-width: 0;
    max-width: 50%;
    display: flex;
    object-fit: contain;
    object-position: top center;
}


.flex-child-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: -10%;
    margin-right: 10%;
    height: 95vh; 
    padding-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #EAC7C7;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.options-link:hover {
    background: #FFE6E6;
}

.choose-vet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A0C3D2;
    padding: 15px;
    border-radius: 25px;
    color: white;
    margin: 10px ;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}


.additional-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A0C3D2;
    padding: 5px;
    border-radius: 25px;
    color: white;
    margin: 10px ;
    text-align: center;
    font-size: rem;
    font-weight: 600;
}

.additional-option:hover {
    background: #FFE6E6;
} 

.post-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background: #A0C3D2;
  color: white;
  text-align: center;
  font-size: rem;
  font-weight: 600;
  border: none;
  padding: 15px;
  border-radius: 25px;
  margin: 10px ;
  
}

.post-button:hover {
    background: #FFE6E6;
} 

img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top center;
}
