html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #C6DCE4, #d2e1e4 50%);
    font-family: 'Quicksand', sans-serif;
}

#title_bar {
    background: #C6DCE4;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    color: #638c9e;
    font-size: 24px;
}

#nav_menu {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    padding: 0 5px;
    
}