{% extends "base.html" %}

{% block content  %}

<img class="flex-child-1" src="static/img/owner.jpg" alt="image of a dog being held by their human" width=500px>
<div class = "flex-child-2">
<section class="choose-vet">Select an owner</section>
<section id="vets">
    
{% for owner in owners  %}

<a href="/owners/{{ owner.id }}">
<section class="options options-link"> {{owner.name}} </section>
</a>
{% endfor %}

<a href="/owners/new"><section class="additional-option">Add a new owner</section></a>    

{% endblock  %}