<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Alba Veterinary Clinic</title>
</head>
<body>
    <div id="title_bar">
        <h1>Alba Veterinary Clinic</h1>
        <ul id="nav_menu">
            <li><a href="/vets">Home</a></li>
            <li><a href="/vets">Vets</a></li>
            <li><a href="/pets">Pets</a></li>
            <li><a href="/owners">Owners</a></li>
        </ul>
    </div>
<div class="flex-container">
        {% block content %}
        {% endblock %}
</div>
</body>
</html>